/* app global css */

html {
	overflow: hidden;
}

body {
	user-select: none;
}

a {
	text-decoration: none;
}

a.link {
	border-bottom: 1px dotted $primary;
	color: $primary;
}

.q-item__section--icon {
	min-width: 32px !important;
}

.q-list--dense .q-item__section--icon {
	min-width: 34px !important;
	padding: 0 8px;
}

$diff-color: (
	'green': #66dd11,
	'blue': #33bbee,
	'yellow': #ffaa00,
	'red': #ee4466,
	'purple':#bb33ee,
	'pink': #de0597
);

@each $name, $color in $diff-color {
	.text-diff-#{$name} {
		color: $color;
	}
	.bg-diff-#{$name} {
		background-color: $color;
	}
}

